<!DOCTYPE html>

<html>

<head>
	
<title>LogIn Page</title>
	
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<style>
   body{
    background-image: url("https://image.shutterstock.com/image-photo/businessman-on-blurred-background-using-260nw-1005896623.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 120%;
   
  }

  .clr{
    font-weight: bold;
    font-size: xx-large;
    color: whitesmoke;
  }
</style>





</head>

<body>
  {% csrf_token %} <b>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
 

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    
<span class="navbar-toggler-icon">
</span>
</b>
</button>

 
 <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
<ul class="navbar-nav mr-auto">
     
 <li class="nav-item active">
       
    
 </li>
     
 <li class="nav-item">
        
   
</li>
      <li class="nav-item dropdown">
       
        
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
          
</div>
      
</li>
      
<li class="nav-item">
        
   
 </li>
   
 </ul>
    
<form class="form-inline my-2 my-lg-0">
    
  
</form>
  </div>
</nav>

<div class="container">
	
<div class="row">
		
<div style="width: 40%; margin: 25px auto;">
		
<h3 style="text-align: center;"class="clr"> Parent Login Page</h3>
		
<form action="" method="POST">
  {% csrf_token %}
			
<div class="form-group">
				<b>
<label>Email:</label><input type="text" name="MailId" class="form-control" autofocus placeholder="Enter Valid Email">
</b>		
</div>
			
<div class="form-group">
	<b>			
<label>Password:</label><input type="Password" name="password" class="form-control" autofocus placeholder="Password">
</b>	
</div>
<b>
      <label>Enter Captcha:</label>
    </b>
<div class="form-row">
       
 <div class="form-group col-md-6">
         
 <input type="text" class="form-control" readonly id="capt">
        
</div>
        
<div class="form-group col-md-6">
         
 <input type="text" class="form-control" id="textinput">
        

</div>
<input type="hidden" id="capid" value="invalid" name="cap">    
</div> 


	
<div class="form-group">
			<a href="">	<b>
<button onclick="validcap()" class="btn btn-lg btn-success btn-block" type="submit">Submit</button></a>
</b>	
</div>
		
</form>
  <b> 
 <h6><b>Captcha not visible <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/RecaptchaLogo.svg/1200px-RecaptchaLogo.svg.png" width="40px" onclick="cap()"></b></h6>
</b> <b>
<p>New Here?<a href="/parentregister">Sign Up</a> </p></b>
<b>		
<p>Forgotten Password?<a href="password_reset">Recover here</a> </p></b>
	</div>
</div>
</div>
<script type="text/javascript">
  function cap(){
    
var alpha = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V'
,'W','X','Y','Z','1','2','3','4','5','6','7','8','9','0','a','b','c','d','e','f','g','h','i',
'j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z', '!','@','#','$','%','^','&','*','+'];
                
 var a = alpha[Math.floor(Math.random()*71)];
                 
var b = alpha[Math.floor(Math.random()*71)];
                 
var c = alpha[Math.floor(Math.random()*71)];
                 
var d = alpha[Math.floor(Math.random()*71)];
                 
var e = alpha[Math.floor(Math.random()*71)];
                 
var f = alpha[Math.floor(Math.random()*71)];

                 
var final = a+b+c+d+e+f;
                 
document.getElementById("capt").value=final;
              
 }
     cap()          
function validcap(){
                
var stg1 = document.getElementById('capt').value;
                
var stg2 = document.getElementById('textinput').value;
                
if(stg1==stg2){
                  
alert("Form is validated Succesfully");
document.getElementById('capid').value="valid";      
                  
return true;
               
 }else{
                  
alert("Please enter a valid captcha");
                  
return false;
               
 }
              
 }
</script>

</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</html>

<!-- All rights reserved Techshenanigans -->
<!-- Visit https://www.techshenanigans.com/  -->
<!-- Write us at team@techshenanigans.com -->